* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus {
  outline: 2px solid orange;
  color: orange;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  font-family: "Tahoma", serif;
}

.header {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(135deg, #666, #fff);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.photo {
  width: 150px;
  border: 1px solid orange;
  border-radius: 5%;
  box-shadow: 0 0 10px yellow;
}

.heading {
  font-size: 40px;
  text-shadow: -1px -1px white;
}

.section-heading {
  margin: 15px;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(90deg, #fff, #b2b2b2);
}

.contacts {
  background-color: rgb(243, 226, 148);
  padding: 10px 0 15px 0;
  margin: 0;
  border-radius: 16px;
}

.contacts__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contacts__icon {
  width: 30px;
  height: 30px;
  transform: translateY(8px);
}

.skills__list-item {
  margin: 10px 0;
}
.icons {
  width: 22px;
  transform: translateY(4px);
  margin-right: 5px;
}

.footer {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(135deg, #666, #fff);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-shadow: -0.5px -0.5px white;
}

@media (max-width: 620px) {
  .photo {
    width: 110px;
    margin-right: 10px;
  }

  .heading {
    font-size: 30px;
  }
  .container {
    padding: 10px;
  }
  .contacts__list-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .contacts__icon {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
  }
  .header,
  .footer {
    width: 95%;
  }
  .container {
    width: 85%;
  }

  .footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .header {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
